@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative min-h-screen overflow-x-hidden bg-gradient-to-b from-zinc-900 to-black text-zinc-50;
  }

  body::after {
    /* boxes grid background */
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(39, 39, 42, 0.5) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(39, 39, 42, 0.5) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  * {
    @apply font-sans text-zinc-50 transition-all duration-300 ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
